langgraph
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
python-dotenv
xgboost
scikit-learn
imbalanced-learn
pandas
numpy
joblib
faiss-cpu
sentence-transformers
mcp
streamlit
plotly
ipykernel
